// Colors
$color-primary: rgb(252, 252, 252);
$color-secondary: rgb(252, 252, 252);
$color-text-primary: white;
$color-text-secondary:black;
$color-menu:white;

$background-primary: black;
$background-secondary: rgb(49, 82, 214);
$background-border:  rgb(49, 82, 214);
$background-input:white;

// - Nav Bar
$background-active: $color-primary;
$background-active-gradient1:rgb(248, 240, 122);
$background-active-gradient2: rgb(243, 167, 26);

// - Poster
$poster-shadow: #5684e7;
$poster-shadow-active: white;

// - Modal
$modal-color-shadow: rgb(252, 143, 1);
$modal-background: rgba(0, 0, 0, 0.7);
$modal-background-overlay: rgba(0, 0, 0, 0.85);

// - Scrollbar
$scrollbar-color-thumb: #555; //rgb(175, 65, 28);
$scrollbar-color-track: #999;

// Fonts
$font-primary: "Ubuntu Mono";
$font-secondary: "Titillium Web";

// Breakpoints
$screen-sm-min: 640px;
$screen-md-min: 768px;
$screen-lg-min: 960px;