// Colors
$color-primary: rgb(252, 252, 252);
$color-secondary: rgb(252, 252, 252);
$color-tags: rgb(0, 25, 247);
$color-text-primary: white;
$color-text-secondary:rgb(3, 3, 3);
$color-menu:white;

$background-primary: #000000;
$background-secondary: rgb(0, 51, 255);
$background-border:  #000000;
$background-input:  #ffffff;

// - Nav Bar
$background-active: $color-primary;
$background-active-gradient1: rgb(243, 220, 10);
$background-active-gradient2: rgb(243, 220, 10);

// - Poster
$poster-shadow: rgba(0, 0, 0, 0.4);
$poster-shadow-active: white;

// - Modal
$modal-color-shadow: rgb(0, 51, 255);;
$modal-background:rgba(0, 0, 0, 0.911);
$modal-background-overlay: rgba(0, 0, 0, 0.85);

// - Scrollbar
$scrollbar-color-thumb: #555; //rgb(175, 65, 28);
$scrollbar-color-track: #999;

// Fonts
$font-primary: "Ubuntu Mono";
$font-secondary: "Titillium Web";

// Breakpoints
$screen-sm-min: 640px;
$screen-md-min: 768px;
$screen-lg-min: 960px;